
/* applies bckground color of the body */
body {
    background-color: #c7c8ca;
}

/* styles header */
header {
    padding: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(121, 128, 131);
    color: #ffffff;
}

/* styles h1 element of the header */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* styles the navigation section of the header*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}

/* styles the navigation list of the header */
header nav ul {
    list-style-type: none;
}

/* styles the list items in the navigation*/
header nav ul li {
    display: inline-block;
    margin-left: 25px;
    font-size: 24px;
}

/* adds / styles image bar under header */
.hero {
    height: 175px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    background-image: url("3272183.jpg");;
    background-size: cover;
    background-position: center;
}

/* syles main section of HTML */
main {
    flex: auto;
    flex-wrap: wrap;
    width: 73%;
    display: inline-block;
    margin-left: 30px;
} 

/* syles h2 elemen in main section of HTML */ 
main h2 {
    font-size: 36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin-top: 20px;
    margin-left: 30px;
}

/* syles all the a elements */
a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* styles the p elements */
p {
    font-size: 18px;
}

/* CSS flex container styling */ 
.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: rgb(121, 128, 131); 
} 

/* syles the large content box in center */
.boxBig {
    display:flex;
    flex-direction: row;
    flex: 0 0 95%;
    margin: 2.5%;
    background-image: url("25101.jpg");
    height: 500px;
    background-size: 120%;
    background-position: fill;
    color:midnightblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* styles the 4 smaller content boxes*/
.boxSmall {
    display:flex;
    flex-direction: row;
    flex: 0 0 45%;
    margin: 2.5%;
    background-image: url("25101.jpg");
    height: 260px;
    background-size: 120%;
    background-position: fill;
    color:midnightblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* styles label on each content box */
.label {
    display: block;
    position: static;
    margin: 1%;
    background-color:#c7c8ca;
    height: 150px;
    width: 175px;
    
}

/* styles the two pictures in the aside*/
.center {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 100%;
}

/* styles the content aside*/
aside {
    margin-right: 30px;
    margin-bottom: 40px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: rgb(121, 128, 131);
    color: #ffffff;
}

/* styles the h2 element in the aside*/

aside h2 {
    text-align: center;
    font-size: 36px;
}

/* styles the image of linkedin the aside*/

#linkedin img {
    max-width: 40px;
    max-height: 40px;
}

/* styles the footer*/

footer {
    padding: 30px;
    clear: both;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-left: 20px;
}

/* styles the h2 element in the footer*/

footer h2 {
    font-size: 20px;
}

/* media queries */

@media screen and (max-width: 375px) {
    
    header nav ul {
        padding-top: 15px;
        float: none;
        display: flex;
    }

    .boxSmall {
        width:100%;
       
    }

    .label {
        width: 100px;
        height: 75px;
    }

    main {
        margin: 0 3px;
    }

}

@media screen and (max-width: 414px) {    
    
    header nav ul {
        padding-top: 15px;
        float: none;
        display: flex;
    }
    
    aside {
        float:none;
        width: 100%;
    }

    header nav {
        padding-top: 15px;
        float: none;
    }

    .label {
        width: 125px;
        height: 100px;
    }

}

/* adjust layout for Ipad size */

@media screen and (max-width: 1318px) {    
   
    main {
        flex: auto;
        width: 100%;
        display: inline-block;
        margin-left: 0px;
    } 

    aside {
        float:none;
        width: 100%;
    }

    header {
        text-align: center;
        padding: 50px;
    }

    
}



@media screen and (max-width: 1366px) {    
   

    header h1 {
        margin-right: 35px;
    }


}

@media screen and (max-width: 1536px) {
    aside {
        margin-right: 40px;
    }
}